.footer {
    text-align: right;
    font-size: 12px;
    font-family: 'sans-serif';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer div {
    display: inline-block;
    background-color: #004361;
    color: #fff;
    padding: 2px 8px;
    margin: 0;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-weight: 100;
    font-style: italic;
    text-transform: capitalize;
    border-top-left-radius: 10px;
}
.footer div::selection {
    background-color: #fff;
    color: #000;
}