.search-bar {
    margin-bottom: 20px;
    height: 60px;
    font-size: 16px;
    font-family: sans-serif;
    color: #444;
    padding-top: 20px;
}

.search {
    background-image: url('./assets/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    font-size: inherit;
    border: 1px solid #aaa;
}
.select {
    font-size: inherit;
    color: inherit;
	padding: 0 4px 0 8px;
    width: 20%;
    height: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .90em auto, 100%;
    border-radius: 0;
}
.select::-ms-expand {
	display: none;
}
.select:focus, input:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px #7fb7bf;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select:hover {
	border-color: #888;
}

